<% breadcrumb :user_new, @user %>
<h1>ユーザ登録</h1>

<%= form_with model: @user, url: confirm_new_user_path, local: true do |f| %>
<div>
  <%= f.label :name%>
</div>
<div>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :age%>
</div>
<div>
  <%= f.text_field :age %>
</div>
<div>
  <%= f.label :profile %>
</div>
<div>
  <%= f.text_area :profile %>
</div>
<div>
  <%= f.label :email %>
</div>
<div>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :password %>
</div>
<div>
  <%= f.password_field :password %>
</div>
<%= f.submit "確認画面へ" %>

<% end %>
